.ipynb_checkpoints
__pycache__
cvxpy.egg-info
.vscode
.pyc
~$*

# ADMM implementation of SSC in Matlab
temp
SSC_ADMM_v1.1/*
!/SSC_ADMM_v1.1/SSC_modified.m
!/SSC_ADMM_v1.1/performance.txt

# Large databases
data

# Saved matrices for faster loading
saved/raw

# Optimization results
optims
