.ipynb_checkpoints
__pycache__
cvxpy.egg-info
.vscode
*.pyc
.DS_Store
~$*

# ADMM implementation of SSC in Matlab
temp.mat
SSC_ADMM_v1.1/*
!/SSC_ADMM_v1.1/SSC_modified.m
!/SSC_ADMM_v1.1/performance.txt

# Octave and oct2py
dir
octave-workspace

# Large databases
data

# Saved matrices for faster loading
saved/raw

# Optimization results
optims
