.ipynb_checkpoints
__pycache__
cvxpy.egg-info
.vscode
*.pyc
*.asv
.DS_Store
Thumbs.db
nohup.out
~$*

# ADMM implementation of SSC in Matlab
temp.mat
SSC_ADMM_v1.1/*
!/SSC_ADMM_v1.1/seed.txt
!/SSC_ADMM_v1.1/performance.txt
!/SSC_ADMM_v1.1/performance2.xlsx
!/SSC_ADMM_v1.1/SSC_modified.m
!/SSC_ADMM_v1.1/svdDriversCompare.m
!/SSC_ADMM_v1.1/isOctave.m
!/SSC_ADMM_v1.1/scaleTest.m

# Octave and oct2py
dir
octave-workspace

# Large databases
data

# Saved matrices for faster loading
saved/raw/*
saved/rescaled/*
saved/models/*
!saved/models/coil20/256.64_10000.10.3_0.2098.npz
!saved/rescaled/Coil20.mat
!saved/rescaled/YaleB.mat
!saved/**/*.txt
figures/hyper_opt.mat
